.footer {
  position: fixed; /* Fixed position to keep it at screen bottom */
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #a4aaaf; /* Example background color */
  color: #141313; /* Example text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
