/* You can add global styles to this file, and also import other style files */

.cdk-overlay-container {
  z-index: 1060 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dropdown {
  z-index: 1056 !important; /* Asegura que esté sobre el modal */
}
