<ul *ngIf="paginas.length > 0" class="pagination" >



  <!--boton << -->
  <li class="page-item" *ngIf="paginador.number > 0">
    <a class="page-link" [routerLink]= "['/comerciante/list/page',0]">  &laquo; </a>
    </li>


    <li ngClass="paginador.first?'disabled   page-item': 'page-item'" >
      <a class="page-link" [routerLink]= "['comerciante/list/page',0 ]">Primera  </a>

    </li>

  <li  class="page-item"   *ngFor="let pagina of paginas" ngClass="pagina-1 != paginador.number? 'active':'' " >
 <span  class="page-link"   *ngIf="pagina-1 === paginador.number">{{pagina}}</span>
    <a  class="page-link"  *ngIf="pagina -1  !== paginador.number"    [routerLink]="['/comerciante/list/page',pagina-1]"> {{pagina}}</a>
  </li>

  <li ngClass="paginador.last?'disabled  page-item': 'page-item'" >
    <a class="page-link" [routerLink]= "['/comerciante/list/page',paginador.totalPages-1 ]">Último  </a>

  </li>

<!--boton >> -->
  <li class="page-item" *ngIf="paginador.number < paginador.totalPages - 1">
  <a class="page-link" [routerLink]= "['/comerciante/list/page',paginador.number +1 ]"> &raquo; </a>
  </li>

</ul>
